[Desktop Entry]
Version=1.0
Type=Application
Name=ScreenSet
Comment="Adjust Screen Settngs for use with a second monitor"
Exec=gksu -u gv -g /home/gv/Desktop/PythonTests/twoscreens.sh
Icon=view-fullscreen
Terminal=false
Categories=Settings;
StartupNotify=false
