[Desktop Entry]
Type=Application
Name=Screenshot
GenericName=Screenshot
Comment=Take a screenshot
Exec=lximage-qt --screenshot
Icon=camera-photo
Categories=Graphics;Core;Qt;
StartupNotify=true
Name[ca]=Captura de pantalla
GenericName[ca]=Captura de pantalla
Comment[ca]=Preneu una captura de pantalla
Name[de]=Bildschirmfoto
GenericName[de]=Bildschirmfoto
Comment[de]=Erstelle ein Bildschirmfoto
Name[el]=Στιγμιότυπο οθόνης
GenericName[el]=Στιγμιότυπο οθόνης
Comment[el]=Λήψη ενός στιγμιότυπου της οθόνης
Name[hu]=LXQt képernyőfotó
GenericName[hu]=Képrnyőfénykép
Comment[hu]=Képernyőkép készítés
Name[pl]=Zrzut ekranu
GenericName[pl]=Zrzut ekranu
Comment[pl]=Wykonaj zrzut ekranu
Name[pt]=Captura de ecrã
GenericName[pt]=Captura de ecrã
Comment[pt]=Obter uma captura de ecrã
Name[ru]=Снимок экрана
GenericName[ru]=Снимок экрана
Comment[ru]=Сделать снимок экрана
