[Desktop Entry]
Type=Application
Name=LXImage
GenericName=Image Viewer
Comment=The LXQt image viewer
Icon=lximage-qt
Exec=lximage-qt %F
StartupNotify=true
Terminal=false
Categories=Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/png;image/tiff;image/x-bmp;image/x-pcx;image/x-tga;image/x-portable-pixmap;image/x-portable-bitmap;image/x-targa;image/x-portable-greymap;application/pcx;image/svg+xml;image/svg-xml;
Name[ca]=LXImage
GenericName[ca]=Visualitzador d'imatges
Comment[ca]=El visualitzador d'imatges de LXQt
GenericName[de]=Bildbetrachter
Comment[de]=Der LXQt-Bildbetrachter
Name[el]=LXImage
GenericName[el]=Προβολέας εικόνων
Comment[el]=Ο προβολέας εικόνων του LXQt
Name[hu]=LXQt képnéző
GenericName[hu]=Képmegjelenítő
Comment[hu]=Az LXQt képnézegetője
Name[it]=Visualizzatore immagini
Comment[it]=Il visualizzatore immagini di LXQt
GenericName[pl]=Przeglądarka obrazów
Comment[pl]=Przeglądarka obrazów LXQt
Name[pt]=LXImage-Qt
GenericName[pt]=Visualizador de imagens
Comment[pt]=O visualizador de imagens do LXQt
Name[ru]=LXImage
GenericName[ru]=Просмотрщик изображений
Comment[ru]=Просмотрщик изображений LXQt
