[Desktop Entry]
Type=Application
Name=LXQt Configuration Center
GenericName=System Settings
Comment=Configure your system
Exec=lxqt-config
Icon=preferences-system
Categories=Settings;DesktopSettings;Qt;LXQt;
OnlyShowIn=LXQt;

Comment[ar]=اضبط نظامك
GenericName[ar]=إعدادات النّظام
Name[ar]=مركز لكسكيوت للضّبط
Name[ca]=Centre de configuració de LXQt
GenericName[ca]=Ajusts del sistema
Comment[ca]=Configureu el vostre sistema
Comment[cs]=Nastavit moduly LXQt
GenericName[cs]=Nastavení LXQtu
Name[cs]=Nastavení LXQtu
Comment[cs_CZ]=Nastavit moduly LXQt
GenericName[cs_CZ]=Nastavení LXQtu
Name[cs_CZ]=Nastavení LXQtu
Comment[da]=Indstil LXQt moduler
GenericName[da]=LXQt Indstillingscenter
Name[da]=LXQt Indstillingscenter
Comment[da_DK]=Indstil LXQt moduler
GenericName[da_DK]=LXQt Indstillinger
Name[da_DK]=LXQt Konfigurationsstyring
Name[de]=Konfigurationszentrum
GenericName[de]=Systemeinstellungen
Comment[de]=Konfiguration von LXQt- und Systemkomponenten
Name[el]=Κέντρο διαμόρφωσης LXQt
GenericName[el]=Ρυθμίσεις συστήματος
Comment[el]=Διαμόρφωση του συστήματος
Comment[eo]=Agordi modulojn de LXQt
GenericName[eo]=Agordilo de LXQt
Name[eo]=Agordcentro de LXQt
Comment[es]=Configura módulos de LXQt
GenericName[es]=Configuración LXQt
Name[es]=Centro de Configuración LXQt
Comment[es_VE]=Configurar modulos de LXQt
GenericName[es_VE]=Configuracion de LXQt
Name[es_VE]=Centro de Configuracion LXQt
Comment[eu]=Konfiguratu LXQt moduluak
GenericName[eu]=LXQt konfigurazioa
Name[eu]=LXQt konfigurazio-zentroa
Comment[fi]=Hallitse LXQtin moduuleita
GenericName[fi]=LXQt-hallinta
Name[fi]=LXQtin hallintakeskus
Comment[fr_FR]=Configurer les modules de LXQt
GenericName[fr_FR]=Configuration de LXQt
Name[fr_FR]=Centre de configuration de LXQt
Comment[hu]=A LXQt modulok beállítása
GenericName[hu]=LXQt beállítóközpont
Name[hu]=LXQt beállítóközpont
Comment[id_ID]=Konfigurasi modul LXQt
GenericName[id_ID]=Konfigurasi LXQt
Name[id_ID]=Pusat Konfigurasi LXQt
Comment[it]=Configura moduli di LXQt
GenericName[it]=Configura LXQt
Name[it]=Centro di configurazione LXQt
Comment[ja]=LXQtモジュールを設定
GenericName[ja]=LXQtの設定
Name[ja]=LXQtコンフィグレーションセンター
Comment[lt]=Konfigūruoti LXQt modulius
GenericName[lt]=LXQt konfigūracija
Name[lt]=LXQt konfigūravimo centras
Comment[nl]=Configureer LXQt modules
GenericName[nl]=LXQt Configuratie
Name[nl]=LXQt Configuratie Centrum
Comment[pl]=Wszystkie ustawienia LXQt
GenericName[pl]=Panel sterowania LXQt
Name[pl]=Panel sterowania LXQt
Comment[pl_PL]=Konfiguruj moduły LXQt
GenericName[pl_PL]=Konfiguracja LXQt
Name[pl_PL]=Panel sterowania LXQt
Comment[pt]=Configurar módulos do LXQt
GenericName[pt]=Configuração do LXQt
Name[pt]=Centro de configuração LXQt
Comment[pt_BR]=Configurar módulos Qt
GenericName[pt_BR]=Configuração
Name[pt_BR]=Centro De Configuração
Comment[ro_RO]=Configurează modulele LXQt
GenericName[ro_RO]=Configurație LXQt
Name[ro_RO]=Centru de configurare LXQt
Comment[ru]=Настроить вашу систему
GenericName[ru]=Системные настройки
Name[ru]=Системные настройки LXQt
Comment[sk]=Centrum nastavení prostredia LXQt
GenericName[sk]=Centrum nastavení
Name[sk]=Centrum nastavení
Comment[sl]=Nastavitveni moduli za LXQt
GenericName[sl]=Nastavitve
Name[sl]=Nastavitveno središče za LXQt
Comment[sr]=Подесите Рејзорове модуле
GenericName[sr]=Подешавање Рејзора
Name[sr]=Центар за подешавање
Name[sr@ijekavian]=Центар за подешавање
Comment[sr@ijekavian]=Подесите Рејзорове модуле
GenericName[sr@ijekavian]=Подешавање Рејзора
Name[sr@ijekavianlatin]=Centar za podešavanje
Comment[sr@ijekavianlatin]=Podesite Rejzorove module
GenericName[sr@ijekavianlatin]=Podešavanje Rejzora
Comment[sr@latin]=Podesite Rejzorove module
GenericName[sr@latin]=Podešavanje Rejzora
Name[sr@latin]=Centar za podešavanje
Comment[th_TH]=ปรับแต่งมอดูล LXQt
GenericName[th_TH]=ปรับแต่ง LXQt
Name[th_TH]=ศูนย์การปรับแต่ง LXQt
Comment[tr]=LXQt modüllerini yapılandır
GenericName[tr]=LXQt Yapılandırması
Name[tr]=LXQt Yapılandırma Merkezi
Comment[uk]=Налаштувати модулі LXQt
GenericName[uk]=Налаштування LXQt
Name[uk]=Центр налаштувань LXQt
Comment[zh_CN]=配置 LXQt 模块
GenericName[zh_CN]=LXQt 配置
Name[zh_CN]=LXQt 配置中心
Comment[zh_TW]=設定LXQt模組
GenericName[zh_TW]=LXQt設定
Name[zh_TW]=LXQt設定中心
