[Desktop Entry]
Type=Application
Name=Reboot
GenericName=Reboot
Comment=reboot the machine
Exec=lxqt-leave --reboot
Icon=system-reboot
Categories=System;X-Leave;
OnlyShowIn=LXQt;

Comment[ar]=أعد إقلاع الجهاز
Name[ar]=أعد الإقلاع
GenericName[ar]=أعد الإقلاع
Name[ca]=Reinicia
GenericName[ca]=Reinicia
Comment[ca]=Reinicia la màquina
Comment[de]=Rechner neustarten
Name[de]=Neustart
Name[el]=Επανεκκίνηση
GenericName[el]=Επανεκκίνηση
Comment[el]=Επανεκκίνηση του μηχανήματος
Comment[hu]=A gép újraindítása
Name[hu]=Újraindítás
Name[it]=Riavvia
Comment[it]=Riavviare il computer
Name[ja]=再起動
Comment[ja]=PCを再起動します
Name[pl]=Uruchom ponownie
Comment[pl]=Ponowne uruchomienie komputera
Name[pt]=Reiniciar
Comment[pt]=Reiniciar o computador
Name[ru]=Перезагрузка
Comment[ru]=Перезагрузить компьютер
