[Desktop Entry]
Type=Application
Name=Logout
GenericName=Logout
Comment=Logout from the current session
Exec=lxqt-leave --logout
Icon=system-log-out
Categories=System;X-Leave;
OnlyShowIn=LXQt;

Comment[ar]=اخرج من الجلسة الحاليّة
Name[ar]=اخرج
GenericName[ar]=اخرج
Name[ca]=Tanca la sessió
GenericName[ca]=Tanca la sessió
Comment[ca]=Tancament de la sessió actual
Comment[de]=Sitzung beenden
Name[de]=Abmelden
Name[el]=Αποσύνδεση
GenericName[el]=Αποσύνδεση
Comment[el]=Αποσύνδεση από την τρέχουσα συνεδρία
Comment[hu]=LXQt munkamenet vége
Name[hu]=Kilépés
Name[it]=Chiudi sessione
Comment[it]=Chiudere la sessione attuale
Name[ja]=ログアウト
Comment[ja]=セッションからログアウトします
Name[pl]=Wyloguj
Comment[pl]=Zakończ bieżącą sesję
Name[pt]=Sair
Comment[pt]=Sair da sessão
Name[ru]=Выйти из системы
Comment[ru]=Выйти из текущего сеанса
