[Desktop Entry]
Type=Application
Name=Shortcut Keys
GenericName=Keyboard Shortcut Settings
Comment=Configure shortcut keys in LXQt
Exec=lxqt-config-globalkeyshortcuts
Icon=preferences-desktop-keyboard
Categories=Settings;DesktopSettings;Qt;LXQt;
OnlyShowIn=LXQt;

Name[ca]=Tecles de les dreceres
GenericName[ca]=Ajusts de les dreceres de teclat
Comment[ca]=Configureu les tecles de les dreceres a LXQt
Name[cs]=Nastavení klávesových zkratek
Comment[cs]=Nastavit celkové klávesové zkratky pro prostředí LXQt
GenericName[cs]=Nastavení celkových klávesových zkratek
Name[cs_CZ]=Nastavení klávesových zkratek
Comment[cs_CZ]=Nastavit celkové klávesové zkratky pro prostředí LXQt
GenericName[cs_CZ]=Nastavení celkových klávesových zkratek
Name[da]=Konfiguration af LXQt Tastaturgenveje
Comment[da]=Konfigurer globale tastaturgenveje for LXQt-skrivebordet
GenericName[da]=Konfiguration af LXQt Globale Tastaturgenveje
Name[da_DK]=Konfiguration af LXQt Tastaturgenveje
Comment[da_DK]=Konfigurer globale tastaturgenveje for LXQt-skrivebordet
GenericName[da_DK]=Konfiguration af LXQt Globale Tastaturgenveje
Name[de]=Kurzbefehl-Konfiguration
GenericName[de]=Globale Kurzbefehlkonfiguration
Comment[de]=Globale Kurzbefehle für die LXQt-Arbeitsfläche definieren
Name[el]=Πλήκτρα συντομεύσεων
GenericName[el]=Ρυθμίσεις συντομεύσεων πληκτρολογίου
Comment[el]=Διαμόρφωση των πλήκτρων συντομεύσεων του LXQt
Name[es]=Configuración de Atajos de LXQt
Comment[es]=Configure atajos globales del Escritorio de LXQt
GenericName[es]=Configuración de Atajos Globales de LXQt
Name[es_VE]=Configuracion de atajos de LXQt
Comment[es_VE]=Configura atajos de teclado para el escritorio LXQt
GenericName[es_VE]=Configuracion de Atajos globales de LXQt
Name[eu]=LXQt lasterbideen konfigurazioa
Comment[eu]=Konfiguratu LXQt mahaigainaren lasterbide globalak
GenericName[eu]=LXQt lasterbide globalen konfigurazioa
Name[hu]=LXQt gyorsbillentyűk
Comment[hu]=LXQt általános forróbillentyűinek beállítása
GenericName[hu]=LXQt gyorsbillentyűk beállítása
Name[it]=Scorciatoie globali
Comment[it]=Configura le scorciatoie globali di LXQt 
Name[pl_PL]=Konfiguracja skrótów pulpitu LXQt
Comment[pl_PL]=Określ globalny skrót pulpitu LXQt
GenericName[pl_PL]=Konfiguracja globalnych skrótów pulpitu LXQt
Name[pt]=Teclas de atalho
GenericName[pt]=Definições das teclas de atalho
Comment[pt]=Configurar as teclas de atalho do LXQt
Name[pt_BR]=Configuração Do Atalho
Comment[pt_BR]=Configurar atalhos globais do desktop LXQt
GenericName[pt_BR]=Configurações Dos Atalhos Globais
Name[ro_RO]=Configurație acceleratori LXQt
Comment[ro_RO]=Configurează acceleratorii globali pentru LXQt
GenericName[ro_RO]=Configurație acceleratori globali LXQt
Name[ru]=Сочетания клавиш
Comment[ru]=Настроить сочетания клавиш в LXQt
GenericName[ru]=Настроить сочетания клавиш
Name[th_TH]=การตั้งค่าปุ่มลัด LXQt
Comment[th_TH]=ตั้งค่าปุ่มลัดหลักของ LXQt เดกส์ท็อป
GenericName[th_TH]=การตั้งค่าปุ่มลัดหลัก LXQt
Name[uk]=Налаштування скорочень LXQt
Comment[uk]=Налаштувати глобальні скорочення стільниці LXQt
GenericName[uk]=Налаштування глобальних скорочень LXQt
Name[zh_CN]=LXQt 快捷键配置
Comment[zh_CN]=配置 LXQt 桌面全局快捷键
GenericName[zh_CN]=LXQt 全局快捷键配置
Name[zh_TW]=LXQt快捷鍵設定
Comment[zh_TW]=設定LXQt桌面的全域快捷鍵
GenericName[zh_TW]=LXQt全域快捷鍵設定
