[Desktop Entry]
Type=Application
Name=Leave
GenericName=Leave
Comment=Leave dialog
Exec=lxqt-leave
Icon=system-shutdown
Categories=System;X-Leave;
OnlyShowIn=LXQt;

Name[ar]=اترك
GenericName[ar]=اترك
Comment[ar]=حواريّ التّرك
Name[ca]=Sortida
GenericName[ca]=Sortida
Comment[ca]=Diàleg de sortida
Name[de]=Verlassen
Comment[de]=Beenden-Dialog
Name[el]=Εγκατάλειψη
GenericName[el]=Εγκατάλειψη
Comment[el]=Διάλογος εγκατάλειψης
Name[hu]=Kiléptetés
Comment[hu]=Kiléptető párbeszédablak
Name[it]=Esci
Comment[it]=Opzioni di uscita
Name[ja]=終了
Comment[ja]=終了ダイアログを表示します
Name[pl]=Wyjdź
Comment[pl]=Ekran wyjścia
Name[ru]=Выйти
Comment[ru]=Меню выхода
