[Desktop Entry]
Type=Application
Name=Appearance
GenericName=Appearance settings
Comment=Appearance settings for LXQt
Exec=lxqt-config-appearance
Icon=preferences-desktop-theme
Categories=Settings;DesktopSettings;Qt;LXQt;
OnlyShowIn=LXQt;

Comment[ar]=إعدادات مظهر لكسكيوت
GenericName[ar]=إعدادات المظهر
Name[ar]=المظهر
Name[ca]=Aparença
GenericName[ca]=Ajusts de l'aparença
Comment[ca]=Ajusts de l'aparença per a LXQt
Comment[cs]=Nastavit vzhled pracovní plochy LXQt
GenericName[cs]=Nastavení vzhledu
Name[cs]=Nastavení vzhledu
Comment[cs_CZ]=Nastavit vzhled pracovní plochy LXQt
GenericName[cs_CZ]=Nastavení vzhledu
Name[cs_CZ]=Nastavení vzhledu
Comment[da]=Indstilling af LXQt udseende
GenericName[da]=Indstilling af LXQt Udseende
Name[da]=Indstilling af LXQt Udseende
Comment[da_DK]=Indstil udseende på LXQt skrivebord
GenericName[da_DK]=Indstilling af LXQt Udseende
Name[da_DK]=Indstilling af LXQt Udseende
Name[de]=Erscheinungsbild
GenericName[de]=Erscheinungsbild Einstellungen
Comment[de]=Einstellungen zum Aussehen der LXQt Arbeitsfläche
Comment[el]=Διαμόρφωση εμφάνισης της επιφάνειας εργασίας LXQt
GenericName[el]=Διαμόρφωση εμφάνισης LXQt
Name[el]=Διαμόρφωση εμφάνισης LXQt
Comment[eo]=Agordi aperon de LXQt-labortablo
GenericName[eo]=Agordoj de apero de LXQt
Name[eo]=Agordoj de apero de LXQt
Comment[es]=Configura el aspecto del escritorio LXQt
GenericName[es]=Configuración de Aspecto LXQt
Name[es]=Configuración de Aspecto LXQt
Comment[es_VE]=Configurar apariencia del escritorio LXQt
GenericName[es_VE]=Configuración de apariencia de LXQt
Name[es_VE]=Configuración de apariencia de LXQt
Comment[eu]=Konfiguratu LXQt mahaigainaren itxura
GenericName[eu]=LXQt itxuraren konfigurazioa
Name[eu]=LXQt itxuraren konfigurazioa
Comment[fi]=Hallitse LXQt-työpöydän ulkoasua
GenericName[fi]=LXQtin ulkoasun hallinta
Name[fi]=LXQtin ulkoasun hallinta
Comment[fr_FR]=Configurer l'apparence du bureau LXQt
GenericName[fr_FR]=Configuration de l'apparence de LXQt
Name[fr_FR]=Configuration de l'apparence de LXQt
Comment[hu]=A LXQt asztal megjelenésének beállítása
GenericName[hu]=LXQt megjelenésbeállító
Name[hu]=LXQt megjelenésbeállító
GenericName[it]=Aspetto
Name[it]=Aspetto
Comment[it]=Configura l'aspetto di LXQt
Comment[ja]=LXQtデスクトップの外観を設定
GenericName[ja]=LXQt外観の設定
Name[ja]=LXQt外観の設定
Comment[lt]=Konfigūruoti LXQt darbalaukio išvaizdą
GenericName[lt]=LXQt išvaizdos konfigūravimas
Name[lt]=LXQt išvaizdos konfigūravimas
Comment[nl]=Configureer het uiterlijk van het LXQt bureaublad
GenericName[nl]=LXQt Uiterlijk Configuratie
Name[nl]=LXQt Uiterlijk Configuratie
Comment[pl_PL]=Konfiguruj wylgąd pulpitu LXQt
GenericName[pl_PL]=Konfiguracja wyglądu LXQt
Name[pl_PL]=Konfiguracja wyglądu LXQt
Comment[pt]=Configurar o aspeto do LXQt
GenericName[pt]=Configuração da aparência do LXQt
Name[pt]=Configuração da aparência do LXQt
Comment[pt_BR]=Configure a aparência da área de trabalho LXQt
GenericName[pt_BR]=Configuração da aparência do LXQt
Name[pt_BR]=Configuração da aparência do LXQt
Comment[ro_RO]=Configurează aspectul desktopului LXQt
GenericName[ro_RO]=Configurare aspect LXQt
Name[ro_RO]=Configurare aspect LXQt
Comment[ru]=Настройки внешнего вида LXQt
GenericName[ru]=Настройка внешнего вида
Name[ru]=Внешний вид
Comment[sk]=Nastavenie vzhľadu prostredia LXQt
GenericName[sk]=Nastavenie vzhľadu
Name[sk]=Nastavenie vzhľadu
Comment[sl]=Nastavite videz namizja LXQt
GenericName[sl]=Nastavitev videza
Name[sl]=Nastavitev videza namizja LXQt
Comment[sr]=Подесите изглед Рејзорове радне површи
GenericName[sr]=Подешавање изгледа
Name[sr]=Подешавање изгледа Рејзора
Name[sr@ijekavian]=Подешавање изгледа Рејзора
Comment[sr@ijekavian]=Подесите изглед Рејзорове радне површи
GenericName[sr@ijekavian]=Подешавање изгледа
Name[sr@ijekavianlatin]=Podešavanje izgleda Rejzora
Comment[sr@ijekavianlatin]=Podesite izgled Rejzorove radne površi
GenericName[sr@ijekavianlatin]=Podešavanje izgleda
Comment[sr@latin]=Podesite izgled Rejzorove radne površi
GenericName[sr@latin]=Podešavanje izgleda
Name[sr@latin]=Podešavanje izgleda Rejzora
Comment[th_TH]=ตั้งค่ารูปลักษณ์ของเดสก์ท็อป LXQt
GenericName[th_TH]=การตั้งค่ารูปลักษณ์ LXQt
Name[th_TH]=การตั้งค่ารูปลักษณ์ LXQt
Comment[tr]=LXQt masaüstünün görünümünü yapılandırın
GenericName[tr]=LXQt Görünüm Yapılandırıcı
Name[tr]=LXQt Görünüm Yapılandırıcı
Comment[uk]=Налаштувати вигляд стільниці LXQt
GenericName[uk]=Налаштування вигляду LXQt
Name[uk]=Налаштування вигляду LXQt
Comment[zh_CN]=配置 LXQt 桌面的外观
GenericName[zh_CN]=LXQt 外观配置
Name[zh_CN]=LXQt 外观配置
Comment[zh_TW]=自定LXQt桌面的外觀
GenericName[zh_TW]=LXQt外觀設定
Name[zh_TW]=LXQt外觀設定
