[Desktop Entry]
Name=Open Folder with Thunar
Name[ar]=إفتح المجلد بـ ثونار
Name[ast]=Abrir carpeta con Thunar
Name[be]=Адкрыць тэчку ў Thunar
Name[bg]=Отваряне на папка с Thunar
Name[bn]=Thunar দিয়ে ফোল্ডার খুলুন
Name[ca]=Obri el directori amb Thunar
Name[cs]=Otevřít složku aplikací Thunar
Name[da]=Åbn mappe med Thunar
Name[de]=Ordner in Thunar öffnen
Name[el]=Άνοιγμα φακέλου με το Thunar
Name[en_AU]=Open Folder with Thunar
Name[en_GB]=Open Folder with Thunar
Name[eo]=Malfermu dosierujon per Thunar
Name[es]=Abrir carpeta con Thunar
Name[et]=Ava kaust Thunariga
Name[eu]=Ireki karpeta Thunar-ekin
Name[fi]=Avaa kansio Thunarissa
Name[fr]=Ouvrir un dossier avec Thunar
Name[gl]=Abrir cartafol con Thunar
Name[he]=פתח תיקייה עם Thunar
Name[hr]=Otvori mapu sa Thunarom
Name[hu]=Mappa megnyitása a Thunarral
Name[id]=Buka Folder dengan Thunar
Name[is]=Opna möppu með Thunar
Name[it]=Apre la cartella con Thunar
Name[ja]=Thunar でフォルダーを開く
Name[kk]=Буманы Thunar көмегімен ашу
Name[ko]=투나로 폴더 열기
Name[lt]=Atverti aplanką su Thunar
Name[lv]=Atvērt mapi ar Thunar
Name[ms]=Buka Folder dengan Thunar
Name[nb]=Åpne mappe med Thunar
Name[nl]=Open map met Thunar
Name[nn]=Opna mappa med Thunar
Name[oc]=Dobrir un dorsièr amb Thunar
Name[pa]=ਥੰਨਰ ਨਾਲ ਫੋਲਡਰ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz katalog za pomocą menedżera plików Thunar
Name[pt]=Abrir pasta com o Thunar
Name[pt_BR]=Abrir pasta com o Thunar
Name[ro]=Deschide dosarul cu Thunar
Name[ru]=Открыть каталог с помощью Thunar
Name[si]=Thunar සමඟ බහලුම විවෘත කරන්න
Name[sk]=Otvoriť priečinok v prehliadači Thunar
Name[sq]=Hap Dosje me Thunar-in
Name[sr]=Отвори фасциклу у Тунару
Name[sv]=Öppna mapp med Thunar
Name[te]=సంచయమును తునార్‌తో తెరువు
Name[th]=เปิดโฟลเดอร์ด้วย Thunar
Name[tr]=Dizini Thunar'la Aç
Name[ug]=مۇندەرىجىنى سۇنار(Thunar) دا ئاچ
Name[uk]=Вибрати теку використовуючи Thunar
Name[ur]=فولڈر تھنر سے کھولیں
Name[ur_PK]=فولڈر تھنر سے کھولیں
Name[vi]=Mở thư mục này với Thunar
Name[zh_CN]=用 Thunar 打开文件夹
Name[zh_HK]=以 Thunar 開啟資料夾
Name[zh_TW]=以 Thunar 開啟資料夾
Comment=Open the specified folders in Thunar
Comment[ar]=إفتح المجلدات المحددة في ثونار
Comment[ast]=Abrir les carpetes especificaes en Thunar
Comment[be]=Адкрыць вызначаныя тэчкі ў Thunar
Comment[bg]=Отваряне на избраните папки в Thunar
Comment[bn]=উল্লেখিত ফোল্ডারটি Thunar এ খুলুন
Comment[ca]=Obre les carpetes especificades dins Thunar
Comment[cs]=Otevřít specifikované složky aplikací Thunar
Comment[da]=Åbn de angivne mapper med Thunar
Comment[de]=Angegebene Ordner mit Thunar öffnen
Comment[el]=Άνοιγμα των επιλεγμένων φακέλων στον Thunar
Comment[en_AU]=Open the specified folders in Thunar
Comment[en_GB]=Open the specified folders in Thunar
Comment[eo]=Malfermu definitajn dosierujojn per Thunar
Comment[es]=Abrir las carpetas especificadas en Thunar
Comment[et]=Määratud kaustade avamine Thunariga
Comment[eu]=Hautatutako direktorioak thunar-en ireki
Comment[fi]=Avaa valitut kansiot Thunarissa
Comment[fr]=Ouvrir les dossiers spécifiés dans Thunar
Comment[gl]=Abrir os cartafoles especificados en Thunar
Comment[he]=פתח את התיקיות שצויינו עם Thunar
Comment[hr]=Otvori odabrane mape u Thunaru
Comment[hu]=A megadott mappák megnyitása a Thunarban
Comment[id]=Buka folder yang ditentukan di Thunar
Comment[is]=Opna tilteknar möppur í Thunar
Comment[it]=Apre le cartelle specificate con Thunar
Comment[ja]=指定したフォルダーを Thunar で開きます
Comment[kk]=Көрсетілген бумаларды Thunar көмегімен ашу
Comment[ko]=투나에서 지정 폴더 열기
Comment[lt]=Atverti nurodytus aplankus su Thunar
Comment[lv]=Atvērt norādītās mapes ar Thunar
Comment[ms]=Buka folder tertentu dengan Thunar
Comment[nb]=Åpne angitte mapper i Thunar
Comment[nl]=Open de geselecteerde mappen in Thunar
Comment[nn]=Opna dei valde mappene med Thunar
Comment[oc]=Dobrir los dorsièrs especificats dins Thunar
Comment[pa]=ਦਿੱਤੇ ਫੋਲਡਰ ਥੰਨਰ 'ਚ ਖੋਲ੍ਹੋ
Comment[pl]=Otwiera wybrane katalogi za pomocą menedżera plików Thunar
Comment[pt]=Abrir pastas especificadas no Thunar
Comment[pt_BR]=Abrir as pastas especificadas no Thunar
Comment[ro]=Deschide dosarele specificate cu Thunar
Comment[ru]=Открыть выбранные каталоги в Thunar
Comment[sk]=Otvorí vybrané priečinky v prehliadači Thunar
Comment[sq]=Hap dosjen e treguar me Thunar-in
Comment[sr]=Отвори изабране фасцикле у Тунару
Comment[sv]=Öppna de angivna mapparna i Thunar
Comment[te]=నిర్దేశించిన సంచయములను తునార్‌లో తెరువు
Comment[th]=เปิดโฟลเดอร์ที่ระบุด้วย Thunar
Comment[tr]=Thunar içerisinde belirlenen dizinleri aç
Comment[ug]=سۇنار(Thunar) دىكى بەلگىلەنگەن مۇندەرىجىنى ئاچ
Comment[uk]=Відкрити вибрані теки використовуючи Thunar
Comment[ur]=متعین فولڈر تھنر میں کھولیں
Comment[ur_PK]=متعین فولڈر تھنر میں کھولیں
Comment[vi]=Mở các thư mục chỉ trước trong Thunar
Comment[zh_CN]=在 Thunar 中打开指定的文件夹
Comment[zh_HK]=在 Thunar 開啟指定資料夾
Comment[zh_TW]=在 Thunar 中開啟指定的資料夾
GenericName=Open Folder
GenericName[ar]=إفتح المجلد
GenericName[ast]=Abrir carpeta
GenericName[be]=Адкрыць тэчку
GenericName[bg]=Отваряне на папка
GenericName[bn]=ফোল্ডার খুলুন
GenericName[ca]=Obre la carpeta
GenericName[cs]=Otevřít složku
GenericName[da]=Åbn mappe
GenericName[de]=Ordner öffnen
GenericName[el]=Άνοιγμα φακέλου
GenericName[en_AU]=Open Folder
GenericName[en_GB]=Open Folder
GenericName[eo]=Malfermu dosierujon
GenericName[es]=Abrir carpeta
GenericName[et]=Ava kaust
GenericName[eu]=Ireki karpeta
GenericName[fi]=Avaa kansio
GenericName[fr]=Ouvrir un dossier
GenericName[gl]=Abrir cartafol
GenericName[he]=פתח תיקייה
GenericName[hr]=Otvori mapu
GenericName[hu]=Mappa megnyitása
GenericName[id]=Buka Folder
GenericName[is]=Opna möppu
GenericName[it]=Apri cartella
GenericName[ja]=フォルダーを開く
GenericName[kk]=Буманы ашу
GenericName[ko]=폴더 열기
GenericName[lt]=Atverti aplanką
GenericName[lv]=Atvērt mapi
GenericName[ms]=Buka Folder
GenericName[nb]=Åpne mappe
GenericName[nl]=Open map
GenericName[nn]=Opna mappe
GenericName[oc]=Dobrir un dorsièr
GenericName[pa]=ਫੋਲਡਰ ਖੋਲ੍ਹੋ
GenericName[pl]=Otwórz katalog
GenericName[pt]=Abrir pasta
GenericName[pt_BR]=Abrir pasta
GenericName[ro]=Deschide dosarul
GenericName[ru]=Открыть каталог
GenericName[si]=බහලුම විවෘත කරන්න
GenericName[sk]=Otvoriť priečinok
GenericName[sq]=Hap Dosje
GenericName[sr]=Отвори фасциклу
GenericName[sv]=Öppna mapp
GenericName[te]=సంచయాన్ని తెరువు
GenericName[th]=เปิดโฟลเดอร์
GenericName[tr]=Dizin Aç
GenericName[ug]=مۇندەرىجە ئاچ
GenericName[uk]=Відкрити теку
GenericName[ur]=فولڈر کھولیں
GenericName[ur_PK]=فولڈر کھولیں
GenericName[vi]=Mở thư mục
GenericName[zh_CN]=打开文件夹
GenericName[zh_HK]=開啟資料夾
GenericName[zh_TW]=開啟資料夾
TryExec=Thunar
Exec=thunar %F
Icon=Thunar
NoDisplay=true
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;Core;GTK;FileTools;FileManager;
MimeType=inode/directory;

# vi:set encoding=UTF-8:
