[Desktop Entry]
Name=Bulk Rename
Name[ar]=تغيير اسم الكل
Name[ast]=Renomador masivu
Name[be]=Буйное перайменаваньне
Name[bg]=Масово преименуване
Name[bn]=বাল্ক পুনরায় নামকরণ
Name[ca]=Canvi de nom en bloc
Name[cs]=Hromadné přejmenování
Name[da]=Masseomdøbning
Name[de]=Massenumbenennen
Name[el]=Μαζική μετονομασία
Name[en_AU]=Bulk Rename
Name[en_GB]=Bulk Rename
Name[eo]=Amasa Renomilo
Name[es]=Cambio de nombre en masa de Thunar
Name[et]=Hulganisti nimede muutja
Name[eu]=Berrizendatu...
Name[fi]=Joukkonimeäjä
Name[fr]=Renommer en masse
Name[gl]=Renomeador masivo
Name[he]=שינוי שם קבוצתי
Name[hr]=Grupno preimenovanje
Name[hu]=Csoportos átnevező
Name[id]=Ganti Nama Bulk
Name[is]=Magn-endurnefna
Name[it]=Bulk Rename
Name[ja]=バルクリネーム
Name[kk]=Thunar топтап атын ауыстыру
Name[ko]=일괄 이름 바꾸기
Name[lt]=Masinis pervadinimas
Name[lv]=Masu pārdēvēšana
Name[ms]=Nama Semula Kelompok
Name[nb]=Gi nytt navn (Bulk)
Name[nl]=Massaal hernoemen
Name[nn]=Masseomdøyping
Name[oc]=Renomenar en massa
Name[pa]=ਬਲਕ ਰੀ-ਨੇਮ
Name[pl]=Wsadowe zmienianie nazw
Name[pt]=Renomear em massa
Name[pt_BR]=Renomear em massa
Name[ro]=Redenumire în masă
Name[ru]=Массовое переименование
Name[sk]=Hromadné premenovanie
Name[sq]=Riemërtim në Masë
Name[sr]=Скупно преименовање
Name[sv]=Massomdöpning
Name[te]=పెద్దసంఖ్యలో పేరుమార్పు
Name[th]=เปลี่ยนชื่อกลุ่มแฟ้ม
Name[tr]=Toplu Yeniden Adlandırma
Name[ug]=ئاتىنى تىپ ئۆزگەرتىش
Name[uk]=Масове перейменування
Name[ur]=بلک رینیم
Name[ur_PK]=بلک رینیم
Name[vi]=Đổi tên hàng loạt
Name[zh_CN]=批量重命名
Name[zh_HK]=批次改名
Name[zh_TW]=批次重新命名
Comment=Rename Multiple Files
Comment[ar]=تغيير إسم عدة ملفات
Comment[ast]=Renomar múltiples ficheros
Comment[be]=Перайменаваньне некалькіх файлаў
Comment[bg]=Преименуване на няколко файла
Comment[bn]=একাধিক ফাইলের পুনরায় নামকরণ করুন
Comment[ca]=Canvia el nom de múltiples fitxers
Comment[cs]=Přejmenovat více souborů
Comment[da]=Omdøbning af flere filer
Comment[de]=Mehrere Dateien gleichzeitig umbenennen
Comment[el]=Μετονομασία πολλαπλών αρχείων
Comment[en_AU]=Rename Multiple Files
Comment[en_GB]=Rename Multiple Files
Comment[eo]=Renomigu Multajn Dosierojn
Comment[es]=Cambia de nombre múltiples archivos
Comment[et]=Failide nimede muutmine
Comment[eu]=Fitxategi anitz berrizendatu
Comment[fi]=Nimeä useita tiedostoja uudelleen
Comment[fr]=Renommer plusieurs fichiers
Comment[gl]=Renomear varios ficheiros
Comment[he]=שנה שמות קבצים רבים
Comment[hr]=_Preimenuj više datoteka
Comment[hu]=Több fájl átnevezése
Comment[id]=Ganti Nama Banyak Berkas
Comment[is]=Endurnefna margar skrár
Comment[it]=Rinomina più file
Comment[ja]=複数のファイル名を変更します
Comment[kk]=Бірнеше файлдардың атын ауыстыру
Comment[ko]=여러 파일의 이름을 바꿉니다
Comment[lt]=Pervadinti daug failų
Comment[lv]=Pārdēvēt vairākus failus
Comment[ms]=Nama Semula Fail Berbilang
Comment[nb]=Gi nytt navn til _mange filer
Comment[nl]=Hernoem meerdere bestanden
Comment[nn]=Gje nytt namn til fleire filer.
Comment[oc]=Renomenar mantun fichièr
Comment[pa]=ਕਈ ਫਾਇਲਾਂ ਦਾ ਨਾਂ ਬਦਲੋ
Comment[pl]=Zmienianie nazw wielu plików
Comment[pt]=Renomear vários ficheiros
Comment[pt_BR]=Renomeia múltiplos arquivos
Comment[ro]=Redenumire în masă de fișiere
Comment[ru]=Переименование нескольких файлов
Comment[sk]=Hromadné premenovanie
Comment[sq]=Riemërto Shumë Kartela
Comment[sr]=Преименуј више датотека
Comment[sv]=Byt namn på flera filer
Comment[te]=బహుళ దస్త్రాల పేరుమార్చు
Comment[th]=เปลี่ยนชื่อแฟ้มทีละหลายแฟ้ม
Comment[tr]=Çoklu Dosyaları Yeniden Adlandır
Comment[ug]=كۆپ ھۆججەتنىڭ ئاتىنى ئۆزگەرتىش
Comment[uk]=Перейменування декілька файлів
Comment[ur]=متعدد فائلوں کا نام بدلیں
Comment[ur_PK]=متعدد فائلوں کا نام بدلیں
Comment[vi]=Đổi tên nhiều tập tin
Comment[zh_CN]=重命名多个文件
Comment[zh_HK]=為多個檔案改名
Comment[zh_TW]=重新命名多個檔案
GenericName=Bulk Rename
GenericName[ar]=تغيير اسم الكل
GenericName[ast]=Renomador masivu
GenericName[be]=Буйное перайменаваньне
GenericName[bg]=Масово преименуване
GenericName[bn]=বাল্ক পুনরায় নামকরণ
GenericName[ca]=Canvi de nom en bloc
GenericName[cs]=Hromadné přejmenování
GenericName[da]=Masseomdøbning
GenericName[de]=Massenumbenennen
GenericName[el]=Μαζική μετονομασία
GenericName[en_AU]=Bulk Rename
GenericName[en_GB]=Bulk Rename
GenericName[eo]=Amasa Renomilo
GenericName[es]=Cambio de nombre en masa de Thunar
GenericName[et]=Hulganisti nimede muutja
GenericName[eu]=Berrizendatu...
GenericName[fi]=Joukkonimeäjä
GenericName[fr]=Renommer en masse
GenericName[gl]=Renomeador masivo
GenericName[he]=שינוי שם קבוצתי
GenericName[hr]=Grupno preimenovanje
GenericName[hu]=Csoportos átnevező
GenericName[id]=Ganti Nama Bulk
GenericName[is]=Magn-endurnefna
GenericName[it]=Bulk Rename
GenericName[ja]=バルクリネーム
GenericName[kk]=Thunar топтап атын ауыстыру
GenericName[ko]=일괄 이름 바꾸기
GenericName[lt]=Masinis pervadinimas
GenericName[lv]=Masu pārdēvēšana
GenericName[ms]=Nama Semula Kelompok
GenericName[nb]=Gi nytt navn (Bulk)
GenericName[nl]=Massaal hernoemen
GenericName[nn]=Masseomdøyping
GenericName[oc]=Renomenar en massa
GenericName[pa]=ਬਲਕ ਰੀ-ਨੇਮ
GenericName[pl]=Wsadowe zmienianie nazw
GenericName[pt]=Renomear em massa
GenericName[pt_BR]=Renomear em massa
GenericName[ro]=Redenumire în masă
GenericName[ru]=Массовое переименование
GenericName[sk]=Hromadné premenovanie
GenericName[sq]=Riemërtim në Masë
GenericName[sr]=Скупно преименовање
GenericName[sv]=Massomdöpning
GenericName[te]=పెద్దసంఖ్యలో పేరుమార్పు
GenericName[th]=เปลี่ยนชื่อกลุ่มแฟ้ม
GenericName[tr]=Toplu Yeniden Adlandırma
GenericName[ug]=ئاتىنى تىپ ئۆزگەرتىش
GenericName[uk]=Масове перейменування
GenericName[ur]=بلک رینیم
GenericName[ur_PK]=بلک رینیم
GenericName[vi]=Đổi tên hàng loạt
GenericName[zh_CN]=批量重命名
GenericName[zh_HK]=批次改名
GenericName[zh_TW]=批次重新命名
Exec=/usr/lib/x86_64-linux-gnu/Thunar/ThunarBulkRename %F
Icon=Thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;Core;GTK;Filesystem;

# vi:set encoding=UTF-8:
