[Desktop Entry]
Version=1.0
Name=Accessibility
Name[ar]=الإتاحة
Name[ast]=Accesibilidá
Name[bg]=Специални възможности
Name[bn]=স্বাচ্ছন্দ্যকরণ
Name[ca]=Accessibilitat
Name[cs]=Přístupnost
Name[da]=Tilgængelighed
Name[de]=Barrierefreiheit
Name[el]=Προσβασιμότητα
Name[en_AU]=Accessibility
Name[en_GB]=Accessibility
Name[es]=Accesibilidad
Name[eu]=Erabilerraztasuna
Name[fi]=Esteettömyys
Name[fr]=Accessibilité
Name[gl]=Accesibilidade
Name[he]=נגישות
Name[hr]=Pristupačnost
Name[hu]=Akadálymentesítés
Name[id]=Aksesibilitas
Name[is]=Aðgengi
Name[it]=Accessibilità
Name[ja]=アクセシビリティ
Name[kk]=Қолжетерлілік
Name[ko]=접근성
Name[lt]=Prieinamumas
Name[lv]=Pieejamība
Name[ms]=Kebolehcapaian
Name[nb]=Tilgjengelighet
Name[nl]=Toegankelijkheid
Name[nn]=Tilgjenge
Name[oc]=Accessibilitat
Name[pa]=ਅਸੈਸਬਿਲਟੀ
Name[pl]=Ułatwienia dostępu
Name[pt]=Acessibilidade
Name[pt_BR]=Acessibilidade
Name[ro]=Accesibilitate
Name[ru]=Специальные возможности
Name[si]=ප්‍රවේශ්‍යතාව
Name[sk]=Prístupnosť
Name[sl]=Dostopnost
Name[sr]=Приступачност
Name[sv]=Hjälpmedelsfunktioner
Name[te]=ప్రాపనీయత
Name[th]=สิ่งอำนวยความสะดวก
Name[tr]=Erişilebilirlik
Name[ug]=ياردەم ئىقتىدارى
Name[uk]=Доступність
Name[ur]=قابلیت رسائی
Name[ur_PK]=قابلیت رسائی
Name[zh_CN]=辅助功能
Name[zh_HK]=無障礙
Name[zh_TW]=輔助功能
Comment=Improve keyboard and mouse accessibility
Comment[ar]=تحسين الولوج للوحة المفاتيح والفارة
Comment[ast]=Ameyora l'accesibilidá de tecláu y mur
Comment[bg]=Настройка на специални възможности на мишката и клавиатурата
Comment[bn]=কীবোর্ড ও মাউসের স্বাচ্ছন্দ্যকরণ উন্নত করুন
Comment[ca]=Milloreu l'accessibilitat del teclat i del ratolí
Comment[cs]=Vylepšete přístupnost klávesnice a myši
Comment[da]=Øg tilgængeligheden for tastatur og mus
Comment[de]=Die Zugänglichkeit von Tastatur und Maus verbessern
Comment[el]=Βελτίωση προσβασιμότητας πληκτρολογίου και ποντικιού
Comment[en_AU]=Improve keyboard and mouse accessibility
Comment[en_GB]=Improve keyboard and mouse accessibility
Comment[es]=Mejore la accesibilidad de teclado y ratón
Comment[eu]=Gaitu teklatu eta sagu erabilerraztasuna
Comment[fi]=Helpota näppäimistön ja hiiren käyttöä
Comment[fr]=Améliorer l'accessibilité du clavier et de la souris
Comment[gl]=Mellorar a accesibilidade do teclado e do rato
Comment[he]=שיפור נגישות מקלדת ועכבר
Comment[hr]=Poboljšajte pristupačnost tipkovnice i miša
Comment[hu]=Billentyűzet és egér akadálymentesítésének javítása
Comment[id]=Tingkatkan aksesibilitas papan ketik dan tetikus
Comment[is]=Bæta aðgengi með lyklaborð og mús
Comment[it]=Impostazione dell'accessibilità di mouse e tastiera
Comment[ja]=キーボードとマウスのユーザー補助機能を向上させます
Comment[kk]=Пернетақта мен тышқан қолжетерлілігін жақсарту
Comment[ko]=키보드와 마우스의 접근성을 개선합니다
Comment[lt]=Pagerinti klaviatūros ir pelės prieinamumą
Comment[lv]=Uzlabo klaviatūras un peles pieejamību
Comment[ms]=Pertingkatkan kebolehcapaian papan kekunci dan tetikus
Comment[nb]=Forbedre tilgjengeligheten med tastatur og mus
Comment[nl]=Verbeter toegankelijkheid van muis en toetsenbord
Comment[nn]=Betra tilgjenget for mus og tastatur
Comment[oc]=Melhorar l'accessibilitat del clavièr e de la mirga
Comment[pl]=Konfiguruje techniki ułatwiające korzystanie z klawiatury i myszy
Comment[pt]=Melhorar a acessibilidade do teclado e do rato
Comment[pt_BR]=Melhore a acessibilidade do teclado e do mouse
Comment[ro]=Îmbunătățiți accesibilitatea tastaturii și a mausului
Comment[ru]=Настройка специальный возможностей клавиатуры и мыши
Comment[sk]=Zlepšite prístupnosť klávesnice a myši
Comment[sl]=Izboljšaj dostopnost tipkovnice in miške
Comment[sr]=Побољшава приступачност миша и тастатуре
Comment[sv]=Förbättra hjälpfunktioner för tangentbord och mus
Comment[th]=ปรับสิ่งอำนวยความสะดวกสำหรับแป้นพิมพ์และเมาส์
Comment[tr]=Klavye ve fare erişilebilirliğini arttır
Comment[ug]=ھەرپتاختا ۋە چاشقىنەك ياردەمچى ئىقتىدارىنى ياخشىلاش
Comment[uk]=Покращення доступності миші і клавіатури
Comment[ur]=کیبورڈ اور ماؤس کی قابلیت رسائی بہتر کریں
Comment[ur_PK]=کیبورڈ اور ماؤس کی قابلیت رسائی بہتر کریں
Comment[zh_CN]=改善键盘和鼠标的辅助功能
Comment[zh_HK]=改善鍵盤和滑鼠的無障礙功能
Comment[zh_TW]=改善鍵盤與滑鼠的輔助能力
Exec=xfce4-accessibility-settings
Icon=preferences-desktop-accessibility
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpPage=accessibility
