[Desktop Entry]
Version=1.0
Name=Mouse and Touchpad
Name[ar]=فأرة و لوحة اللمس
Name[ast]=Mur y Touchpad
Name[bg]=Мишка и тъчпад
Name[ca]=Ratolí i ratolí tàctil
Name[cs]=Myš a touchpad
Name[da]=Mus og pegeplade
Name[de]=Maus und Touchpad
Name[el]=Ποντίκι και Touchpad
Name[en_AU]=Mouse and Touchpad
Name[en_GB]=Mouse and Touchpad
Name[es]=Ratón y panel táctil
Name[eu]=Sagua eta Touchpada
Name[fi]=Hiiri ja kosketuslevy
Name[fr]=Souris et pavé tactile
Name[he]=עכבר ולוח מגע
Name[hr]=Miš i dodirna ploča
Name[hu]=Egér és érintőtábla
Name[id]=Tetikus dan Touchpad
Name[is]=Mús og snertiplatti
Name[it]=Mouse e touchpad
Name[ja]=マウスとタッチパッド
Name[kk]=Тышқан мен тачпад
Name[ko]=마우스와 터치패드
Name[lt]=Pelė ir jutiklinis kilimėlis
Name[ms]=Tetikus dan Pad Sentuh
Name[nb]=Mus og pekeflate
Name[nl]=Muis en aanraakveld
Name[nn]=Mus og musefelt
Name[oc]=Mirga e pavat tactil
Name[pl]=Mysz i panel dotykowy
Name[pt]=Rato e painel de toque
Name[pt_BR]=Mouse e touchpad
Name[ro]=Maus și touchpad
Name[ru]=Мышь и тачпад
Name[sk]=Myš a touchpad
Name[sl]=Miška in sledilna ploščica
Name[sr]=Миш и додирна плочица
Name[sv]=Mus och pekplatta
Name[te]=మౌస్ మరియు టచ్‌ప్యాడ్
Name[th]=เมาส์และทัชแพด
Name[tr]=Fare ve dokunmatik yüzey
Name[ug]=چاشقىنەك ۋە سېزىمچان تاختا
Name[uk]=Миша і сенсорна панель
Name[zh_CN]=鼠标和触摸板
Name[zh_HK]=滑鼠和觸控板
Name[zh_TW]=滑鼠與觸控板
Comment=Configure pointer device behavior and appearance
Comment[ar]=إعداد جهاز المؤشر سلوك ومظهر
Comment[ast]=Configura'l comportamientu y aspeutu del preséu del punteru
Comment[bg]=Настройване на поведението на устройствата и външният вид
Comment[bn]=পয়েন্টার ডিভাইসের আচরণ ও অবয়ব কনফিগার
Comment[ca]=Configureu el comportament i l'aparença del dispositiu del punter
Comment[cs]=Konfiguruje chování a vzhled ukazatele zařízení
Comment[da]=Konfigurér adfærd og udseende for markørenheden 
Comment[de]=Das Verhalten und das Aussehen der Zeigegeräte konfigurieren
Comment[el]=Ρύθμιση συμπεριφοράς και εμφάνισης της συσκευής δείκτη
Comment[en_AU]=Configure pointer device behaviour and appearance
Comment[en_GB]=Configure pointer device behaviour and appearance
Comment[es]=Configure el comportamiento y apariencia del dispositivo de puntero
Comment[eu]=Konfiguratu markatzaile gailu ingurunea eta itxura
Comment[fi]=Säädä osoitinlaitteen käytöstä ja osoittimen ulkonäköä
Comment[fr]=Configurer le comportement et l’apparence du dispositif de pointage
Comment[gl]=Configurar o comportamento e maila aparencia do dispositivo de punteiro
Comment[he]=הגדר התנהגות ומראה התקן הצבעה
Comment[hr]=Konfigurirajte ponašanje i izgled pokazivača
Comment[hu]=Mutatóeszköz viselkedésének és megjelenésének beállítása
Comment[id]=Atur perilaku divais penunjuk dan penampilan
Comment[is]=Stilla hegðun og útlit bendiltækja
Comment[it]=Configurazione del comportamento e dell'aspetto del dispositivo di puntamento
Comment[ja]=ポインティングデバイスの振る舞いや外観を設定します
Comment[kk]=Көрсету құрылғысының мінез-құлығын мен сыртқы түрін баптау
Comment[ko]=포인터 장치 동작과 표시 설정
Comment[lt]=Konfigūruoti žymėjimo įrenginio elgseną ir išvaizdą
Comment[lv]=Konfigurēt kursora ierīču uzvedību un izskatu
Comment[ms]=Konfigur kelakuan dan penampilan peranti
Comment[nb]=Tilpass oppførsel og utseende for musepekeren
Comment[nl]=Gedrag en weergave van muispijlapparaat instellen
Comment[nn]=Set opp åtferda og utsjånaden til peikareiningar
Comment[oc]=Configurar lo comportament e estil de la mirga
Comment[pa]=ਪੁਆਇੰਟਰ ਜੰਤਰ ਰਵੱਈਆ ਅਤੇ ਦਿੱਖ ਸੰਰਚਨਾ
Comment[pl]=Konfiguruje zachowanie i wygląd kursora urządzenia wskazującego
Comment[pt]=Configurar comportamento e aparência do ponteiro
Comment[pt_BR]=Configure o comportamento e a aparência do dispositivo de ponteiro
Comment[ro]=Configurați aspectul și comportamentul indicatorului de tip cursor
Comment[ru]=Настройка поведения и внешнего вида устройств указания
Comment[sk]=Konfiguruje správanie a vzhľad kurzora
Comment[sl]=Nastavi obnašanje in izgled kazalčnih naprav
Comment[sr]=Подесите изглед и особине уређаја показивача
Comment[sv]=Ställ in muspekarens beteende och utseende
Comment[th]=ตั้งค่าพฤติกรรมและรูปลักษณ์ของอุปกรณ์ชี้
Comment[tr]=İşaretçi aygıtın davranışını ve görünümünü yapılandırın
Comment[ug]=كۆرسەتكۈچ ئۈسكۈنىسىنىڭ ھەرىكىتى ۋە كۆرۈنۈشىنى تەڭشەش
Comment[uk]=Налаштувати поведінку і зовнішній вигляд вказівника миші
Comment[ur]=پؤائینٹر ڈیوائس کا سلوک اور مظہر متعین کریں
Comment[ur_PK]=پؤائینٹر ڈیوائس کا سلوک اور مظہر متعین کریں
Comment[zh_CN]=配置定位设备行为和外观
Comment[zh_HK]=設定指標裝置行為和外觀
Comment[zh_TW]=調整指標裝置行為與外觀
Exec=xfce4-mouse-settings
Icon=preferences-desktop-peripherals
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpPage=mouse
