[Desktop Entry]
Version=1.0
Name=MIME Type Editor
Name[ar]=محرر نوع MIME
Name[ast]=Editor de triba MIME
Name[bg]=Редактор на MIME типове
Name[ca]=Editor de tipus MIME
Name[cs]=Editor typů MIME
Name[da]=MIME-type redigeringsprogram
Name[de]=MIME-Typ-Bearbeitung
Name[el]=Επεξεργαστής τύπων MIME
Name[en_AU]=MIME Type Editor
Name[en_GB]=MIME Type Editor
Name[es]=Editor de tipos MIME
Name[eu]=MIME mota editorea
Name[fi]=MIME-tyyppimuokkain
Name[fr]=Éditeur de type MIME
Name[gl]=Editor de tipos MIME
Name[he]=עורך סוג MIME
Name[hr]=Uređivač MIME tipa
Name[hu]=MIME-típus szerkesztő
Name[id]=Penyunting Tipe MIME
Name[is]=Ritill fyrir MIME-tegundir
Name[it]=Editor tipo MIME
Name[ja]=MIME タイプエディター
Name[kk]=MIME түрлерінің түзетушісі
Name[ko]=MIME 형식 편집기
Name[lt]=MIME tipų redaktorius
Name[ms]=Penyunting Jenis MIME
Name[nb]=MIME-type redigeringsprogram
Name[nl]=Bewerker van bestandsoort-associaties (MIME)
Name[nn]=Handsamar for MIME-typar
Name[oc]=Editor de tipe MIME
Name[pl]=Edytor typów MIME
Name[pt]=Editor de tipo MIME
Name[pt_BR]=Editor de tipos MIME
Name[ro]=Editor de tipuri MIME
Name[ru]=Редактор типов MIME
Name[sk]=Editor typu súborov
Name[sl]=Urejevalnik MIME tipov
Name[sr]=Уређивач MIME врста датотека
Name[sv]=MIME-typ redigerare
Name[te]=MIME రకపు కూర్పకము
Name[th]=เครื่องมือแก้ไขชนิด MIME
Name[tr]=MIME Tipi Düzenleyicisi
Name[ug]=تەھرىرلىگۈچ(MIME تىپىنى)
Name[uk]=Редактор типів MIME
Name[zh_CN]=MIME 类型编辑器
Name[zh_HK]=MIME 類型編輯器
Name[zh_TW]=MIME 類型編輯器
Comment=Associate applications with MIME types
Comment[ar]=ربط التطبيقات بأنواع MIME
Comment[ast]=Asociar aplicaciones coles tribes MIME
Comment[bg]=Асоциирани приложения с  MIME типове
Comment[ca]=Associeu les aplicacions amb els tipus MIME
Comment[cs]=Asociace aplikací s typy MIME
Comment[da]=Tilknyt programmer med MIME-typer
Comment[de]=Anwendungen mit MIME-Typen verknüpfen
Comment[el]=Συσχετισμός εφαρμογών με τύπους MIME
Comment[en_AU]=Associate applications with MIME types
Comment[en_GB]=Associate applications with MIME types
Comment[es]=Aplicaciones asociadas con tipos MIME
Comment[eu]=Lotu MIME motak aplikazioekin.
Comment[fi]=Yhdistä sovelluksia MIME-tyyppeihin
Comment[fr]=Associer les applications avec les types MIME
Comment[gl]=Asocia aplicativos con tipos MIME
Comment[he]=שייך יישומים עם סוגי MIME
Comment[hr]=Poveži aplikacije s MIME tipovima
Comment[hu]=Alkalmazások társítása MIME-típusokhoz
Comment[id]=Aplikasi yang diasosiasikan dengan tipe MIME
Comment[is]=Tengja forrit við MIME-tegundir
Comment[it]=Associa applicazioni con i tipi MIME
Comment[ja]=MIME タイプにアプリケーションを割り当てます
Comment[kk]=Қолданбаларды MIME түрлерімен сәйкестендіру
Comment[ko]=MIME 형식에 프로그램 연결하기
Comment[lt]=Susiekite programas su MIME tipais
Comment[ms]=Kaitkan aplikasi dengan jenis MIME
Comment[nb]=Tilknytt programmer med MIME-typer
Comment[nl]=Associeer toepassingen met bestandsoorten (MIME)
Comment[nn]=Kopla program med MIME-typar
Comment[oc]=Associar las aplicacions amb los tipes MIME
Comment[pl]=Powiązuje typy MIME z programami
Comment[pt]=Associar aplicações com o tipo MIME
Comment[pt_BR]=Associa aplicativos com tipos MIME
Comment[ro]=Asociați programe diferitelor tipuri de fișiere
Comment[ru]=Связывает приложения с типами MIME
Comment[sk]=Priradiť aplikáciu s typom súboru
Comment[sl]=Poveži programe z MIME tipi
Comment[sr]=Придружите програме МИМЕ врстама датотека
Comment[sv]=Associera program med MIME-typer
Comment[th]=เชื่อมโยงโปรแกรมกับชนิด MIME ต่างๆ
Comment[tr]=Uygulamaları MIME tipleriyle ilişkilendir
Comment[ug]=مۇناسىۋەتلىك پروگراممىلار(MIME تىپى بىلەن)
Comment[uk]=Прив’язати програму з типом MIME
Comment[zh_CN]=应用程序与 MIME 类型绑定
Comment[zh_HK]=將應用程式與 MIME 類型之間建立關聯
Comment[zh_TW]=將應用程式與 MIME 類型之間建立關聯
Exec=xfce4-mime-settings
Icon=application-x-executable
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
StartupNotify=true
OnlyShowIn=XFCE;
