[Desktop Entry]
Version=1.0
Name=Orage preferences
Name[ar]=إعداد أوراج
Name[ast]=Preferencies de Orage
Name[be]=Настаўленні Orage
Name[bg]=Настройки на Orage
Name[ca]=Preferències d'Orage
Name[cs]=Nastavení aplikace Orage
Name[de]=Einstellungen für Orage
Name[el]=Προτιμήσεις Orage
Name[en_AU]=Orage preferences
Name[en_GB]=Orage preferences
Name[es]=Preferencias de Orage
Name[eu]=Orage hobespenak
Name[fi]=Oragen asetukset
Name[fr]=Préférences d'Orage
Name[hr]=Orage osobitosti
Name[hu]=Orage beállításai
Name[id]=Pengaturan Orage
Name[it]=Preferenze di Orage
Name[ja]=Orage の設定
Name[kk]=Orage баптаулары
Name[ko]=Orage 기본 설정
Name[lt]=Orage nustatymai
Name[lv]=Orage uzstādījumi
Name[ms]=Keutamaan Orage
Name[nb]=Orage Innstillinger
Name[nl]=Orage voorkeuren
Name[nn]=Orage-innstillingar
Name[oc]=Preferéncias d'Orage
Name[pl]=Preferencje Orage
Name[pt]=Preferências do Orage
Name[pt_BR]=Preferências do Orage
Name[ru]=Настройки Orage
Name[sk]=Predvoľby Orage
Name[sr]=Поставке Оража
Name[sv]=Inställningar för Orage
Name[th]=ปรับแต่ง Orage
Name[tr]=Orage özellikleri
Name[ug]=Orage تەڭشىكى
Name[uk]=Уподобання Orage
Name[zh_CN]=Orage 首选项
Name[zh_TW]=Orage 偏好設定
Comment=Settings for the Xfce 4 Calendar Application (Orage)
Comment[ar]=ضبط تطبيق تقويم إكسفس 4 (أوراج)
Comment[ast]=Axustes pa la aplicación de calandariu de Xfce 4 (Orage)
Comment[be]=Настаўленні праграмы календара (Orage) для Xfce 4
Comment[bg]=Настройки на календара на Xfce 4 (Orage)
Comment[ca]=Paràmetres de l'aplicació de calendari de Xfce 4 (Orage)
Comment[cs]=Nastavení Kalendáře pro Xfce 4 (Orage)
Comment[de]=Einstellungen für die  Kalenderanwendung von Xfce 4 (Orage)
Comment[el]=Ρυθμίσεις εφαρμογής ημερολογίου του Xfce 4 (Orange)
Comment[en_AU]=Settings for the Xfce 4 Calendar Application (Orage)
Comment[en_GB]=Settings for the Xfce 4 Calendar Application (Orage)
Comment[es]=Configuración para la aplicación de calendario de Xfce (Orage)
Comment[eu]=Xfce 4 egutegi aplikazioaren (Orage) ezarpenak
Comment[fi]=Asetukset Xfce 4:n kalenterisovellukselle (Orage)
Comment[fr]=Paramètres pour l'Application Calendrier de Xfce 4 (Orage)
Comment[hr]=Postavke za  Xfce 4 kalendarski program (Orage)
Comment[hu]=Az Xfce 4 naptáralkalmazás (Orage) beállításai
Comment[id]=Pengaturan untuk Aplikasi Kalender Xfce 4 (Orage)
Comment[it]=Impostazioni per l'applicazione Calendario di Xfce4 (Orage)
Comment[ja]=Xfce 4 カレンダーアプリケーション (Orage) の設定を行います
Comment[kk]=Xfce 4 күнтізбе қолданбасының (Orage) баптаулары 
Comment[ko]=Xfce 4 달력 프로그램(Orage)을 설정합니다
Comment[lt]=Xfce4 kalendoriaus programos (Orage) nustatymai
Comment[lv]=Uzstādījumi Xfce 4 kalendāra lietotnei (Orage)
Comment[ms]=Tetapan untuk Aplikasi Kalendar Xfce 4 (Orage)
Comment[nb]=Innstillinger for Xfce 4 Kalenderprogram (Orage)
Comment[nl]=Instellingen voor de Xfce4-Kalendertoepassing (Orage)
Comment[nn]=Innstillingar for Xfce 4 Kalenderprogram (Orage)
Comment[oc]=Paramètres per l'Aplicacion Calendièr de Xfce 4 (Orage)
Comment[pl]=Konfiguruje ustawienia kalendarza Orange
Comment[pt]=Definições para o calendário do Xfce 4 (Orage)
Comment[pt_BR]=Configurações para o Aplicativo de Calendário do Xfce 4(Orage)
Comment[ru]=Параметры календаря Xfce 4 (Orage)
Comment[sk]=Nastavenia pre aplikáciu Kalendár Xfce 4 (Orage)
Comment[sr]=Подешавања за колендар Иксфце-а 4 (Ораж)
Comment[sv]=Inställningar för Xfce 4-kalendern (Orage)
Comment[th]=ตั้งค่าโปรแกรมปฏิทินของ Xfce 4 (Orage)
Comment[tr]=Xfce4 Takvim Uygulaması (Orage) için Ayarlar
Comment[ug]=Xfce 4 يىلنامە پروگراممىسى (Orage) نىڭ تەڭشەكلىرى
Comment[uk]=Налаштування для програми Календар (Orage) з Xfce 4 
Comment[zh_CN]=Xfce 4 日历应用程序(Orage)设置
Comment[zh_TW]=設定 Xfce 4 行事曆程式 (Orage)
Exec=orage -p
Icon=xfcalendar
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;X-XfceSettingsDialog;
OnlyShowIn=XFCE;
GenericName=Orage Calendar Preferences
GenericName[ar]=تفضيلات التقويم أوراج
GenericName[ast]=Preferencies del calendariu Orage
GenericName[be]=Настаўленні календара Orage
GenericName[bg]=Настройки на келендара Orage
GenericName[ca]=Preferències del calendari d'Orage
GenericName[cs]=Nastavení kalendáře Orage
GenericName[de]=Einstellungen für den Kalender Orage
GenericName[el]=Προτιμήσεις ημερολογίου Orange
GenericName[en_AU]=Orage Calendar Preferences
GenericName[en_GB]=Orage Calendar Preferences
GenericName[es]=Preferencias de calendario de Orage
GenericName[eu]=Orage egutegi hobespenak
GenericName[fi]=Orage-kalenterin asetukset
GenericName[fr]=Préférences calendrier Orage
GenericName[hr]=Osobitosti Orage kalendara
GenericName[hu]=Orage naptár beállításai
GenericName[id]=Pengaturan Kalender Orage
GenericName[it]=Preferenze del calendario di Orage
GenericName[ja]=Orage カレンダー設定
GenericName[kk]=Orage күнтізбе баптаулары
GenericName[ko]=Orage 달력 기본 설정
GenericName[lt]=Orage kalendoriaus nustatymai
GenericName[lv]=Orage kalendāra uzstādījumi
GenericName[ms]=Keutamaan Kalendar Orage
GenericName[nb]=Orage Kalenderinnstillinger
GenericName[nl]=Orage kalendervoorkeuren
GenericName[nn]=Innstillingar for Orage-kalenderen
GenericName[oc]=Preferéncias calendièr Orage
GenericName[pl]=Ustawienia Kalendarza
GenericName[pt]=Preferências do calendário Orage
GenericName[pt_BR]=Preferências do calendário Orage
GenericName[ru]=Параметры календаря Orage
GenericName[sk]=Predvoľby kalendára Orage
GenericName[sr]=Поставке Оражовог колендара
GenericName[sv]=Inställningar för Orage-kalendern
GenericName[th]=ตั้งค่าปฏิทิน Orage
GenericName[tr]=Orage Takvim Özellikleri
GenericName[ug]=Orage يىلنامە تەڭشىكى
GenericName[uk]=Уподобання годинника Orage
GenericName[zh_CN]=Orage 日历首选项
GenericName[zh_TW]=Orage 行事曆偏好設定
X-XfceSettingsName=Calendar
X-XfceSettingsName[am]=ካለንደር
X-XfceSettingsName[ar]=تقويم
X-XfceSettingsName[ast]=Calendariu
X-XfceSettingsName[be]=Каляндар
X-XfceSettingsName[bg]=Календар
X-XfceSettingsName[ca]=Calendari
X-XfceSettingsName[cs]=Kalendář
X-XfceSettingsName[de]=Kalender
X-XfceSettingsName[el]=Ημερολόγιο
X-XfceSettingsName[en_AU]=Calendar
X-XfceSettingsName[en_GB]=Calendar
X-XfceSettingsName[eo]=Kalendaro
X-XfceSettingsName[es]=Calendario
X-XfceSettingsName[et]=Kalender
X-XfceSettingsName[eu]=Egutegia
X-XfceSettingsName[fi]=Kalenteri
X-XfceSettingsName[fr]=Calendrier
X-XfceSettingsName[gl]=Calendario
X-XfceSettingsName[he]=לוח שנה
X-XfceSettingsName[hr]=Kalendar
X-XfceSettingsName[hu]=Naptár
X-XfceSettingsName[id]=Kalender
X-XfceSettingsName[it]=Calendario
X-XfceSettingsName[ja]=カレンダー
X-XfceSettingsName[kk]=Күнтізбе
X-XfceSettingsName[ko]=달력
X-XfceSettingsName[lt]=Kalendorius
X-XfceSettingsName[lv]=Kalendārs
X-XfceSettingsName[ms]=Kalendar
X-XfceSettingsName[nb]=Kalender
X-XfceSettingsName[nl]=Kalender
X-XfceSettingsName[nn]=Kalender
X-XfceSettingsName[oc]=Calendièr
X-XfceSettingsName[pl]=Kalendarz
X-XfceSettingsName[pt]=Calendário
X-XfceSettingsName[pt_BR]=Calendário
X-XfceSettingsName[ro]=Calendar
X-XfceSettingsName[ru]=Календарь
X-XfceSettingsName[sk]=Kalendár
X-XfceSettingsName[sq]=Kalendar
X-XfceSettingsName[sr]=Колендар
X-XfceSettingsName[sv]=Kalender
X-XfceSettingsName[th]=ปฏิทิน
X-XfceSettingsName[tr]=Takvim
X-XfceSettingsName[ug]=يىلنامە
X-XfceSettingsName[uk]=Календар
X-XfceSettingsName[ur]=کیلینڈر
X-XfceSettingsName[ur_PK]=کیلینڈر
X-XfceSettingsName[vi]=Lịch
X-XfceSettingsName[zh_CN]=日历
X-XfceSettingsName[zh_TW]=行事曆
