[Desktop Entry]
Name=Session and Startup
Name[ar]=الجلسة وبدء التشغيل
Name[ast]=Sesión y aniciu
Name[be]=Сэансы й запуск
Name[bg]=Сесия и стартиране
Name[bn]=সেশন এবং আরম্ভ
Name[ca]=Sessió i engegada
Name[cs]=Relace a spouštění
Name[da]=Session og opstart
Name[de]=Sitzung und Startverhalten
Name[el]=Συνεδρία και Εκκίνηση
Name[en_AU]=Session and Startup
Name[en_GB]=Session and Startup
Name[es]=Sesión e inicio
Name[eu]=Saioa eta abiaraztea
Name[fi]=Istunto ja käynnistys
Name[fr]=Session et démarrage
Name[gl]=Sesión e inicio
Name[he]=סשן והפעלה
Name[hr]=Sesija i pokretanje
Name[hu]=Munkamenet és indítás
Name[id]=Sesi dan Hidupkan
Name[is]=Seta og ræsing
Name[it]=Sessione e avvio
Name[ja]=セッションと起動
Name[kk]=Сессия мен қосылу
Name[ko]=세션 및 시동
Name[lt]=Seansai ir paleidimas
Name[lv]=Sesijas uz palaišanās
Name[ms]=Sesi dan Permulaan
Name[nb]=Økt og oppstart
Name[nl]=Sessie en opstart
Name[nn]=Økt og oppstart
Name[oc]=Sesilha e aviada
Name[pl]=Sesja i uruchamianie
Name[pt]=Sessão e arranque
Name[pt_BR]=Sessão e Inicialização
Name[ro]=Sesiuni și pornire
Name[ru]=Сеансы и запуск
Name[sk]=Sedenie a spúšťanie
Name[sl]=Seja in zagon
Name[sq]=Sesion dhe Nisje
Name[sr]=Сесија и почетни програми
Name[sv]=Session och uppstart
Name[te]=సెషన్ మరియు ప్రారంభము
Name[th]=วาระและการเริ่ม
Name[tr]=Oturum ve Başlangıç
Name[ug]=ئەڭگىمە ۋە قوزغىتىش
Name[uk]=Сеанси та запуск
Name[ur]=نشست اور سٹارٹ اپ
Name[ur_PK]=نشست اور سٹارٹ اپ
Name[vi]=Phiên chạy và khởi động
Name[zh_CN]=会话和启动
Name[zh_HK]=工作階段與啟動
Name[zh_TW]=工作階段與初始啟動
Comment=Customize desktop startup and splash screen
Comment[ar]=تخصيص بدء تشغيل سطح المكتب وشاشة البداية
Comment[ast]=Personaliza l'aniciu l'escritoriu y la pantalla d'aniciu
Comment[be]=Індывідуалізаваць запуска асяродзьдзя й застаўку на ўваход
Comment[bg]=Настройки на стартирането на десктопа и стартовият екран
Comment[bn]=ডেস্কটপ আরম্ভ এবং স্প্ল্যাশ স্ক্রীন স্বনির্ধারণ
Comment[ca]=Personalitza l'inici de l'escriptori així com llur pantalla de presentació
Comment[cs]=Přizpůsobte si spouštění pracovního prostředí a uvítací obrazovky
Comment[da]=Tilpas skrivebordsopstart- og opstartsbilled-skærm
Comment[de]=Das Startverhalten der Arbeitsumgebung und den Startbildschirm an Ihre Bedürfnisse anpassen
Comment[el]=Παραμετροποίηση της επιφάνειας εκκίνησης και της οθόνης εισόδου
Comment[en_AU]=Customise desktop startup and splash screen
Comment[en_GB]=Customise desktop startup and splash screen
Comment[es]=Personalice la pantalla de inicio de sesión del escritorio
Comment[eu]=Pertsonalizatu idazmahai abiarazte eta abiarazpen pantaila
Comment[fi]=Mukauta työpöydän käynnistystä ja käynnistyskuvaa
Comment[fr]=Personnaliser le démarrage du bureau et l'écran de démarrage
Comment[gl]=Personalizar o inicio e a pantalla de benvida do escritorio
Comment[he]=התאם הפעלת שולחן עבודה ומסך התזה
Comment[hr]=Prilagodite pokretanje radne površine i zaslon dobrodošlice
Comment[hu]=A környezet indításának és az indítókép személyre szabása
Comment[id]=Sesuaikan hidupkan destop dan layar splash
Comment[is]=Sérsníða ræsingu skjáborðs og upphafsglugga
Comment[it]=Personalizzazione dell'avvio e della relativa schermata
Comment[ja]=デスクトップの起動と起動画面をカスタマイズします
Comment[kk]=Жұмыс үстелінің қосылу мен сплэш экраның баптау
Comment[ko]=데스크톱 시동과 시작 화면을 설정합니다
Comment[lt]=Derinkite darbastalio paleidimą ir pasveikinimo langą
Comment[lv]=Pielāgot darbvirsmas palaišanos un uzplaiksnījuma ekrānu
Comment[ms]=Sesuaikan permulaan desktop dan skrin splash
Comment[nb]=Tilpass skrivebordsoppstart og velkomstbilde
Comment[nl]=Pas de bureaublad-opstart en het laadscherm aan
Comment[nn]=Set opp oppstarten og velkomstbiletet
Comment[oc]=Personalizar l'aviada del burèu e l'ecran d'aviada
Comment[pl]=Konfiguruje uruchamianie środowiska graficznego i ekran powitalny
Comment[pt]=Personalizar arranque e ecrã inicial do ambiente
Comment[pt_BR]=Personaliza a inicialização do ambiente de trabalho e a tela de abertura
Comment[ro]=Personalizați inițializarea desktopului și tema de pornire
Comment[ru]=Настройте параметры запуска рабочего стола и заставки
Comment[sk]=Prispôsobte si spúšťanie pracovného prostredia a úvodnej obrazovky
Comment[sl]=Prilagodite zagon namizja in pozdravni zaslon
Comment[sq]=Përshtasni desktopin dhe skenën e siglës
Comment[sr]=Пролагодите радно окружење и поздравни екран
Comment[sv]=Anpassa skrivbordsuppstart och startbild
Comment[th]=ปรับแต่งการเริ่มต้นเดสก์ท็อปและหน้าจอไตเติล
Comment[tr]=Masaüstü başlangıcını ve açılış ekranını özelleştir
Comment[ug]=ئۈستەلئۈستىنى قوزغىتىش ۋە قوزغىلىش ئېكراننى ئۆزلەشتۈرۈش
Comment[uk]=Налаштувати запуск стільниці і екран заставки
Comment[ur]=ڈیسک ٹاپ سٹارٹ اپ اور سپلیش سکرین وضع کریں
Comment[ur_PK]=ڈیسک ٹاپ سٹارٹ اپ اور سپلیش سکرین وضع کریں
Comment[zh_CN]=自定义桌面启动和启动屏幕
Comment[zh_HK]=自訂桌面初始啟動與起動畫面
Comment[zh_TW]=自訂桌面初始啟動與開機畫面
Exec=xfce4-session-settings
Icon=xfce4-session
Terminal=false
StartupNotify=true
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpComponent=xfce4-session
X-XfceHelpPage=preferences
