[Desktop Entry]
Name=Settings Editor
Name[ar]=محرر الإعدادات
Name[ast]=Editor de configuración
Name[bg]=Редактор на настройките
Name[bn]=সেটিংস সম্পাদক
Name[ca]=Editor d'ajusts
Name[cs]=Editor nastavení
Name[da]=Instillingsredigering
Name[de]=Einstellungsbearbeitung
Name[el]=Επεξεργαστής ρυθμίσεων
Name[en_AU]=Settings Editor
Name[en_GB]=Settings Editor
Name[es]=Editor de configuración
Name[eu]=Ezarpen editorea
Name[fi]=Asetukset
Name[fr]=Éditeur de paramètres
Name[gl]=Editor de configuración
Name[he]=עורך הגדרות
Name[hr]=Uređivač postavki
Name[hu]=Beállításszerkesztő
Name[id]=Penyunting Pengaturan
Name[is]=Stillingaritill
Name[it]=Editor delle impostazioni
Name[ja]=設定エディター
Name[kk]=Баптаулар түзетуші
Name[ko]=설정 편집기
Name[lt]=Nustatymų redaktorius
Name[lv]=Uzstādījumu redaktors
Name[ms]=Penyunting Tetapan
Name[nb]=Innstillingsredigering
Name[nl]=Instellingenbewerker voor Xfconf
Name[nn]=Innstillingar
Name[oc]=Editor de paramètres
Name[pa]=ਸੈਟਿੰਗ ਐਡੀਟਰ
Name[pl]=Edytor ustawień
Name[pt]=Editor de definições
Name[pt_BR]=Editor de configurações
Name[ro]=Editor de opțiuni
Name[ru]=Редактор настроек
Name[sk]=Editor nastavení
Name[sl]=Urejevalnik nastavitev
Name[sr]=Уредник поставки
Name[sv]=Inställningsredigerare
Name[te]=అమరికల కూర్పరి
Name[th]=เครื่องมือแก้ไขค่าตั้ง
Name[tr]=Ayarlar Editörü
Name[ug]=تەڭشەك تەھرىرلىگۈ
Name[uk]=Редактор параметрів
Name[ur]=ترتیبات ایڈیٹر
Name[ur_PK]=ترتیبات ایڈیٹر
Name[zh_CN]=设置编辑器
Name[zh_HK]=設定編輯器
Name[zh_TW]=設定值編輯器
Comment=Graphical settings editor for Xfconf
Comment[ar]=محرر إعدادات رسومي لـإكسفس4
Comment[ast]=Editor gráficu de configuración pa Xfconf
Comment[bg]=Графичен редактор на настройките на Xfconf
Comment[bn]=Xfconf-র জন্য গ্রাফিকাল সেটিংস সম্পাদক
Comment[ca]=Editor gràfic d'ajusts de Xfconf
Comment[cs]=Grafický editor nastavení služby Xfconf
Comment[da]=Grafisk indstillingsredigering for Xfconf
Comment[de]=Grafische Einstellungsbearbeitung für Xfconf
Comment[el]=Γραφικός επεξεργαστής ρυθμίσεων για το xfconf
Comment[en_AU]=Graphical settings editor for Xfconf
Comment[en_GB]=Graphical settings editor for Xfconf
Comment[es]=Configuración gráfica del editor para el Servicio de configuración de Xfce
Comment[eu]=Xfconf-ren ezarpen editore grafikoa
Comment[fi]=Graafinen Xfconf-asetusten muokkain
Comment[fr]=Éditeur graphique des paramètres Xfconf
Comment[gl]=Editor gráfico de configuración para Xfconf
Comment[he]=עורך הגדרות גרפי עבור Xfconf
Comment[hr]=Grafički uređivač postavki za Xfconf
Comment[hu]=Grafikus beállításszerkesztő az Xfconf-hoz
Comment[id]=Penyunting pengaturan grafis untuk Xfconf
Comment[is]=Myndrænn stillingaritill fyrir Xfconf
Comment[it]=Editor grafico delle impostazioni per Xfconf
Comment[ja]=Xfconf のグラフィカル設定エディターです
Comment[kk]=Xfconf үшін баптауларды графикалық түзетуші
Comment[ko]=Xfconf 그래픽 설정 편집기
Comment[lt]=Grafinis nustatymų redaktorius skirtas Xfconf
Comment[lv]=Grafiskais uzstādījumu redaktors priekš Xfconf
Comment[ms]=Penyunting tetapan bergrafik untuk Xfconf
Comment[nb]=Grafisk redigeringsprogram for Xfconf
Comment[nl]=Grafische instellingenbewerker voor Xfconf
Comment[nn]=Grafisk innstillingsprogram for Xfconf
Comment[oc]=Editor grafic dels paramètres Xfconf
Comment[pl]=Konfiguruje ustawienia przechowywane przez program Xfconf
Comment[pt]=Editor gráfico para as definições Xfconf
Comment[pt_BR]=Editor de configurações gráficas para o Xfconf
Comment[ro]=Editor grafic al opțiunilor Xfconf
Comment[ru]=Графический редактор настроек для Xfconf
Comment[sk]=Grafický editor nastavení pre Xfconf
Comment[sl]=Grafični urejevalnik Xfconf nastavitev
Comment[sr]=Графички уређивач поставки Иксфконф-а
Comment[sv]=Grafisk inställningsredigerare för Xfconf
Comment[te]=Xfconf కొరకు గ్రాఫికల్ అమరికల కూర్పకం
Comment[th]=โปรแกรมแก้ไขค่าตั้งแบบกราฟิกสำหรับ Xfconf
Comment[tr]=Xfconf için grafik ayar düzenleyicisi
Comment[ug]=Xfconf نىڭ گرافىكىلىق تەڭشەك تەھرىرلىگۈسى
Comment[uk]=Графічний редактор параметрів для Xfconf
Comment[ur]=تصویری ترتیبات مدون کار برائے Xfconf
Comment[ur_PK]=تصویری ترتیبات مدون کار برائے Xfconf
Comment[zh_CN]=Xfconf 的图形设置编辑器
Comment[zh_HK]=Xfconf 的圖像化設定編輯器
Comment[zh_TW]=Xfconf 的圖形化設定值編輯器
Exec=xfce4-settings-editor
Icon=preferences-system
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;
OnlyShowIn=XFCE;
X-XfceSettingsManagerHidden=true
X-XfcePluggable=true