[Unit]
Description=hdmi sound hotplug

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/home/gv/Desktop/PythonTests/hdmisound.sh

[Install]
WantedBy=multi-user.target
